<!-- Fondo degradado -->
<div class="absolute inset-0 bg-gradient-to-br from-[#0f172a] via-[#1e293b] to-[#0ea5e9]"></div>

<!-- Contenedor del login -->
<div class="relative min-h-screen flex items-center justify-center px-4 z-10">
  <div class="bg-[#1e293b]/90 backdrop-blur-lg border border-[#334155] rounded-2xl shadow-2xl w-full max-w-md p-8 text-white">
    <h1 class="text-2xl font-bold text-center mb-6 text-[#38bdf8]">  Smart Shop</h1>
                
    
    <h2 class="text-2xl font-bold text-center mb-6 text-[#38bdf8]">Iniciar Sesión</h2>

    <form (submit)="login()" class="space-y-4">
      <input
        type="text"
        name="email"
        [(ngModel)]="email"
        placeholder="Usuario"
        required
        class="w-full px-4 py-3 rounded-lg bg-[#334155] text-white placeholder-[#94a3b8] border border-[#475569] focus:outline-none focus:ring-2 focus:ring-[#38bdf8]"
      />

      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        placeholder="Contraseña"
        required
        class="w-full px-4 py-3 rounded-lg bg-[#334155] text-white placeholder-[#94a3b8] border border-[#475569] focus:outline-none focus:ring-2 focus:ring-[#38bdf8]"
      />

      <button
        type="submit"
        class="w-full py-3 bg-[#06b6d4] hover:bg-[#0ea5e9] text-[#0f172a] font-bold rounded-lg transition"
      >
        Iniciar Sesión
      </button>
    </form>

    <div class="text-sm text-center text-[#94a3b8] mt-4">
      ¿No tienes cuenta?
      <button type="button" (click)="activeRegisterForm()" class="text-[#84cc16] hover:underline cursor-pointer">
        ¡Regístrate!
      </button>
    </div>
  </div>
</div>

<!-- Modal de registro -->
<div *ngIf="isModalRegisterUserOpen" class="fixed inset-0 bg-black bg-opacity-60 flex justify-center items-center z-50">
  <div class="bg-[#1e293b]/95 backdrop-blur-xl border border-[#334155] rounded-2xl shadow-2xl w-11/12 sm:w-[400px] p-8 text-[#f8fafc]">

    <div class="flex justify-between items-center mb-6">
      <h2 class="text-xl font-semibold text-[#38bdf8]">Registro</h2>
      <button (click)="closeRegisterUserModal()" class="text-2xl font-bold hover:text-[#84cc16] transition">&times;</button>
    </div>

    <form (submit)="registerUser()" class="space-y-4 text-sm">
      <input
        type="text"
        name="username"
        [(ngModel)]="username"
        placeholder="Nombre completo"
        required
        class="w-full px-4 py-2 rounded-lg bg-[#334155] placeholder-[#94a3b8] text-white border border-[#475569] focus:outline-none focus:ring-2 focus:ring-[#38bdf8]"
      />

      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        placeholder="Contraseña"
        required
        class="w-full px-4 py-2 rounded-lg bg-[#334155] placeholder-[#94a3b8] text-white border border-[#475569] focus:outline-none focus:ring-2 focus:ring-[#38bdf8]"
      />

      <input
        type="email"
        name="email"
        [(ngModel)]="email"
        placeholder="Correo electrónico"
        required
        class="w-full px-4 py-2 rounded-lg bg-[#334155] placeholder-[#94a3b8] text-white border border-[#475569] focus:outline-none focus:ring-2 focus:ring-[#38bdf8]"
      />

      <input
        type="text"
        name="telefono"
        [(ngModel)]="telefono"
        placeholder="Teléfono"
        required
        minlength="8"
        maxlength="8"
        class="w-full px-4 py-2 rounded-lg bg-[#334155] placeholder-[#94a3b8] text-white border border-[#475569] focus:outline-none focus:ring-2 focus:ring-[#38bdf8]"
      />

      <input
        type="text"
        name="direccion"
        [(ngModel)]="direccion"
        placeholder="Dirección"
        required
        class="w-full px-4 py-2 rounded-lg bg-[#334155] placeholder-[#94a3b8] text-white border border-[#475569] focus:outline-none focus:ring-2 focus:ring-[#38bdf8]"
      />

      <div class="flex justify-between mt-6">
        <button
          type="button"
          (click)="closeRegisterUserModal()"
          class="bg-gray-600 hover:bg-gray-500 text-white px-4 py-2 rounded-lg"
        >
          Cancelar
        </button>
        <button
          type="submit"
          class="bg-[#84cc16] hover:bg-[#65a30d] text-[#0f172a] px-4 py-2 rounded-lg font-semibold"
        >
          Registrar
        </button>
      </div>
    </form>
  </div>
</div>
